.svg-wrapper {
  position: relative;
  width: 80vw;
  height: calc((4 / 3) * 80vw);
  max-width: 350px;
  max-height: calc((4 / 3) * 350px);

  &:not(:last-of-type) {
    margin-bottom: $section-padding;

    @include media-breakpoint-up(sm) {
      margin-bottom: 0;
    }
  }

  &:not(:first-of-type) {
    @include media-breakpoint-up(sm) {
      margin-left: $section-padding;
    }
  }

  @include media-breakpoint-up(sm) {
    width: 28vw;
    height: calc((4 / 3) * 28vw);
    margin-bottom: 0;
  }

  @include media-breakpoint-up(lg) {
    width: 25vw;
    height: calc((4 / 3) * 25vw);
  }
}

.site-cta {
  height: 100%;
  width: 100%;
}

.page-cont {
  position: relative;
  height: 100%;
}

.thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  width: 85%;
  height: 100%;
  background-position: left center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: -5px 5px 0 rgba(0, 0, 0, 0.3);

  @include media-breakpoint-up(sm) {
    width: 95%;
  }

  @include media-breakpoint-up(xl) {
    width: 100%;
  }
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.page-open,
.page-open-shadow,
.curl-open,
.curl-open-shadow {
  visibility: hidden;
}
