* {
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
}

.app {
	max-width: 100%;
}

body, html {
	width: 100vw;
	overflow-x: hidden;
	font-size: 100%;
}

body {
	position: relative;
	font: 300 16px/1.5, $rw-thin;
	margin: 0;
	padding: 0;
}
