* {
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
}

.app {
	max-width: 100%;
}

body, html {
	width: 100vw;
	overflow-x: hidden;
	font-size: 100%;
}

body {
	position: relative;
	font: 300 16px/1.5, $rw-thin;
	margin: 0;
	padding: 0;
}

.page-transition-enter {
	opacity: 0;
	transform: translate3d(0, 20px, 0);
}

.page-transition-enter-active {
	opacity: 1;
	transform: translate3d(0, 0, 0);
	transition: opacity 300ms, transform 300ms;
}

.page-transition-exit {
	opacity: 1;
}

.page-transition-exit-active {
	opacity: 0;
	transition: opacity 300ms;
}

.hero {
	height: calc(100vh - 80px);
	width: 100%;
}