.tracker-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;

  .row {
    width: 100%;
  }
}

h3 {
  color: white;
  font-family: $tt-reg;
  font-size: 1.2rem;
  margin-bottom: 20px;
  margin-top: 30px;

  @include media-breakpoint-up(md) {
    margin-top: 0;
    font-size: 1.5rem;
  }
}

.bus {
  width: 100%;
  display: block;
  margin: auto;

  @include media-breakpoint-up(sm) {
    width: 85%;
  }

  @include media-breakpoint-up(md) {
    width: 100%;
  }
}

.selects-cont {
  display: flex;
  flex-direction: column;

  @include media-breakpoint-up(sm) {
    flex-direction: row;
  }

  .select-wrap {
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 0 20px 0;

    @include media-breakpoint-up(sm) {
      margin: 0 15px 0 0;
    }
  }

  .dropdown {
    background: transparent;
    border: none;
    color: white;
    font-family: $tt-reg;
    -webkit-appearance: none; // hide default arrows
    cursor: pointer;
    margin-left: 5px;
  }

  .down {
    height: 1rem;
    width: 1rem;
    // transform: rotate(-90deg);
  }
}

.arrivals {
  list-style: none;
  margin-top: 15px;
  min-height: 150px;

  @include media-breakpoint-up(md) {
    margin-top: 30px;
  }

  h4 {
    color: white;
    font-family: $tt-reg;
    font-size: 1.2rem;
    margin-bottom: 15px;
  }

  li {
    color: white;
    font-family: $tt-light;
    letter-spacing: 1px;
  }

  .eta {
    margin-left: 15px;
  }
}
