.tracker-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;

  .row {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

h3 {
  color: white;
  font-family: $tt-reg;
  font-size: 1.2rem;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  @include media-breakpoint-up(md) {
    font-size: 1.5rem;
  }
}

.selects-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include media-breakpoint-up(sm) {
    flex-direction: row;
    align-items: flex-start;
  }

  .dropdown {
    background: transparent;
    border: white 2px solid;
    border-radius: 0;
    color: white;
    font-family: $tt-reg;
    -webkit-appearance: none; // hide default arrows
    margin: 0 3px 6px 3px;
    padding: 5px 10px;
    width: 200px;
    cursor: pointer;
    text-align-last: center;

    @include media-breakpoint-up(sm) {
      width: 130px;
    }

    @include media-breakpoint-up(md) {
      width: 180px;
    }
  }
}

.arrivals {
  list-style: none;
  min-height: 150px;
  padding-top: 30px;
  text-align: center;

  h4 {
    color: white;
    font-family: $tt-reg;
    font-size: 1.2rem;
    margin-bottom: 15px;
  }

  li {
    color: white;
    font-family: $tt-light;
    letter-spacing: 1px;
  }

  .eta {
    margin-left: 15px;
  }
}
