.page-cont {
  position: relative;
  height: 100%;
}

.thumbnail {
  position: relative;
  width: 80%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-left: 3px solid black;
}

.page-closed, .page-open {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.title {
  font-family: $tt-reg;
  font-size: 1.5rem;
  position: absolute;
  top: 0;
  right: 5%;
  width: 50%;
  padding: 15px;
}