.svg-wrapper {
  position: relative;
  width: 80vw;
  height: calc((4 / 3) * 80vw);
  max-width: 350px;
  max-height: calc((4 / 3) * 350px);
  margin-bottom: 50px;

  @include media-breakpoint-up(sm) {
    width: 28vw;
    height: calc((4 / 3) * 28vw);
    margin-bottom: 30px;
  }

  @include media-breakpoint-up(lg) {
    width: 25vw;
    height: calc((4 / 3) * 25vw);
  }
}

.site-cta {
  color: black;

  &:hover {
    color: black;
  }
}

.page-cont {
  position: relative;
  height: 100%;
}

.thumbnail {
  position: relative;
  width: 80%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.5);
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.title {
  color: $sky-blue;
  font-family: $solway;
  line-height: 1.2;
  font-size: 1.2rem;
  text-align: center;
  position: absolute;
  top: 15%;
  left: 30%;
  width: 50%;

  @include media-breakpoint-up(sm) {
    font-size: 1rem;
    top: 10%;
  }

  @include media-breakpoint-up(lg) {
    font-size: 1.2rem;
  }

  @include media-breakpoint-up(xl) {
    font-size: 1.5rem;
  }
}

.page-open,
.page-open-shadow,
.curl-open,
.curl-open-shadow {
  visibility: hidden;
}
