.toolbox {
  .row {
    padding: 15px;
    justify-content: center;
    align-items: center;
    margin: 0;

    @include media-breakpoint-up(sm) {
      padding: 30px;
    }
  }

  .list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .tool {
    width: 80%;
    max-width: 280px;
    margin-top: 30px;

    @include media-breakpoint-up(md) {
      margin-top: auto;
    }
  }

  .technologies {
    color: white;
    // list-style: none;
    font-size: 1rem;
    font-family: $tt-light;

    @include media-breakpoint-up(sm) {
      font-size: 1.5rem;
    }
  }
}