.toolbox {
  height: 100vh;
  background: $dark-blue;
}

.box-cont {
  padding: 0 20vw;
  position: relative;
}

.box {
  display: block;
  margin: 0 auto;
}

.technologies {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 4vw;
  font-family: $rw-reg;
}