@font-face {
  font-family: 'Titillium-Regular';
  src: url('/fonts/Titillium-Regular.woff') format('woff'),
    url('/fonts/Titillium-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Titillium-SemiBold';
  src: url('/fonts/Titillium-SemiBold.woff') format('woff'),
    url('/fonts/Titillium-SemiBold.ttf') format('truetype');
}

$tt-reg: 'Titillium-Regular', sans-serif;
$tt-bold: 'Titillium-SemiBold', sans-serif;
