/** COLORS */
$white: #fff;
$black: #000;

$sky-blue: #5f879c;
$light-blue: #b0d9f0;
$dark-blue: #414c4e;
$blue: #7d9da7;

$dark-gray: #4c4d4d;
$cement: #bcb7a7;
$sand: #fdf6e4;

$blush: #f6e5d1;
$pink: #c0766c;
$barn-red: #821213;
$dark-red: #661611;

/** LAYOUT */
$section-padding: 8vw;
$copy-margin-bottom: 20px;

/** ANIMATIONS */
$text-color-transition: 150ms linear;
