#home {
    .hero {
        text-align: center;
        position: relative;
        background: $sky-blue;
        overflow: hidden;
        transition: height 300ms ease-out;
    }

    .hero-bg-desktop {
        position: absolute;
        left: -2px;
        right: -2px;
        bottom: -2px;
        width: 101%;
        display: none;

        @include media-breakpoint-up(md) {
            display: block;
        }
    }

    .hero-bg-mobile {
        position: absolute;
        left: -2px;
        right: -2px;
        bottom: -2px;
        width: 105%;

        @include media-breakpoint-up(md) {
            display: none;
        }
    }

    .hero-copy {
        position: relative;
        padding-top: $section-padding;
    }
}
