#home {
    background-color: $sky-blue;

    .hero {
        text-align: center;
        position: relative;
        background: $sky-blue;
        overflow: hidden;
        transition: height 300ms ease-out;
        background-image: url('/images/home-hero-mobile.svg');
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;

        @include media-breakpoint-up(md) {
            background-image: url('/images/home-hero-desktop.svg');
        }
    }

    .hero-copy {
        position: relative;
        padding-top: $section-padding / 2;

        @include media-breakpoint-up(md) {
            padding-top: $section-padding;
        }

        @include media-breakpoint-up(xl) {
            padding-top: 3vw;
        }
    }

    .work {
        background-color: $sky-blue;

        .projects-cont {
            display: flex;
            flex-direction: column;

            @include media-breakpoint-up(sm) {
                flex-direction: row;
            }
        }
    }

    .north-skyline {
        background-image: url('/images/north-skyline.svg');
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
    }
}
