#home {
    background-color: $sky-blue;

    .hero {
        text-align: center;
        position: relative;
        background: $sky-blue;
        overflow: hidden;
        transition: height 300ms ease-out;
        background-image: url('/images/home-hero-mobile.svg');
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;

        @include media-breakpoint-up(md) {
            background-image: url('/images/home-hero-desktop.svg');
        }
    }

    .hero-copy {
        position: relative;
        padding-top: 3vw;

        @include media-breakpoint-up(xl) {
            padding-top: 3vw;
        }
    }

    .work {
        background-color: $sky-blue;

        .projects-cont {
            display: flex;
            flex-direction: column;

            @include media-breakpoint-up(sm) {
                flex-direction: row;
            }
        }

        .work-desc {
            line-height: 1.5;
            font-family: $tt-reg;
        }
    }

    .north-skyline {
        background-image: url('/images/north-skyline.svg');
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
    }

    .toolbox {
        .tools-cont {
            display: flex;
            flex-direction: column;

            @include media-breakpoint-up(sm) {
                flex-direction: row;
            }
        }

        ul {
            list-style: none;

            @include media-breakpoint-up(sm) {
                &:not(:first-of-type) {
                    margin-left: $section-padding;
                }
            }
        }

        li {
            font-size: 1.2rem;

            @include media-breakpoint-up(md) {
                font-size: 1.5rem;
            }
        }
    }
}
