.community {
    background: $sky-blue;

    .hero {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;

        h1 {
            font-family: $rw-thin;
            font-size: 3rem;
            color: white;
        }
    }
}
