.community {
  background: $sky-blue;

  .hero {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    h1 {
      font-family: $solway;
      font-size: 7vw;
      color: white;
      position: absolute;
      transform: translateY(30%);

      @include media-breakpoint-up(md) {
          transform: translateY(70%);
      }

      @include media-breakpoint-up(lg) {
        font-size: 4.5rem;
      }
    }
  }

  .skyline {
    width: 90%;
    transform: translateY(-40%);
    
    @include media-breakpoint-up(md) {
        transform: translateY(-30%);
    }

    @include media-breakpoint-up(lg) {
        width: 900px;
    }
  }

}

.skyline-path {
  fill: none;
  stroke: #ffffff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.rooted {
  display: flex;
  align-items: center;
  justify-content: center;

  h2 {
    position: absolute;
    color: white;
    font-family: $tt-reg;
  }
}

.scrolling-anim {
  width: 70%;
}

.scrolling-path {
  fill: none;
  stroke: #ffffff;
  stroke-width: 9;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}