.community {
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
    
    .hero {
        height: 100vh;
        width: 100vw;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;

        h1 {
            font-family: $rw-thin;
            font-size: 3rem;
        }
    }
}
