footer {
    width: 100vw;
    height: 30px;
    font-family: $tt-light;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;

    @include media-breakpoint-up(md) {
        font-size: 1.5vw;
    }
}