header {
    position: relative;
    z-index: 999;
    width: 100%;
    height: 80px;
    display: flex;
    background: $sky-blue;

    li {
        list-style: none;
        margin: auto 0 auto 30px;
        font-family: $rw-bold;
    }

    a {
        color: white;
        transition: color 200ms ease-out;

        &:hover {
            text-decoration: none;
            color: gray;
        }
    }
}
