.home {
    .hero {
        text-align: center;
        display: flex;
        justify-content: center;
        position: relative;
    }

    .hero-bg {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }

    h1 {
        font-family: $rw-thin;
        position: relative;

        span {
            display: block;
            font-size: 2rem;

            &.name {
                font-size: 3rem;
            }
        }
    }
}
