.home {
    .hero {
        text-align: center;
        position: relative;
        background: $sky-blue;
        overflow: hidden;
    }

    .hero-bg {
        position: absolute;
        bottom: 0;
        left: -5px;
        right: -5px;
        width: 101%;
    }

    .hero-copy {
        position: relative;
        top: 13%;
        font-family: $rw-thin;
        color: white;

        h1 {
            font-size: 3rem;
        }
        
        p {
            font-size: 2rem;
        }
    }
}
