.home {
    .hero {
        text-align: center;
        position: relative;
        background: $sky-blue;
        overflow: hidden;
    }

    .hero-bg {
        position: absolute;
        bottom: 0;
        left: -1px;
        right: -1px;
        bottom: -1px;

        &.desktop {
            display: none;
            width: 101%;

            @include media-breakpoint-up(md) {
                display: block;
            }
        }

        &.mobile {
            width: 105%;

            @include media-breakpoint-up(md) {
                display: none;
            }
        }
    }

    .hero-copy {
        position: relative;
        top: 13%;
        font-family: $rw-thin;
        color: white;

        h1 {
            font-size: 3rem;
        }
        
        p {
            font-size: 2rem;
        }
    }
}
