.work {
    background-image: linear-gradient(to top, #fae7be 0%, white 100%);

    .hero {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;

        h1 {
            font-family: $rw-thin;
            font-size: 3rem;
        }
    }

    .transit {
        height: 400px;
    }
}
