.work {
    background: $sky-blue;
    padding-top: 80px;

    h1, h2 {
        font-size: 2.5rem;
        line-height: 1;
        text-align: center;
        color: white;
        font-family: $solway;
    }

    .professional {
        padding: 30px;

        .row {
            margin: 30px auto;
            position: relative;
            display: flex;
            justify-content: center;
            max-width: 1200px;
            padding: 0 0 0 5%;
        }
    }
}
