.work {
    background: $sky-blue;

    .hero {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        h1 {
            font-family: $rw-thin;
            font-size: 3rem;
            color: white;
        }
    }

    .transit {
        height: 400px;
    }
}
